@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/bootstrap";

$primary: hsl(231, 69%, 60%);
$danger: hsl(0, 94%, 66%);
$gray-600: hsl(229, 8%, 60%);
$gray-800: hsl(229, 31%, 21%);
.btn-danger {
  background-color: $danger;
}
.btn-danger {
  &:hover {
    color: $danger;
    border: 3px solid $danger;
    background-color: #f1f2f3;
  }
}
* {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.bg-gray-dark {
  background-color: $gray-800;
}
.gray-light {
  color: $gray-600;
}
.gray-dark {
  color: $gray-800;
}
.custom-link {
  &:hover {
    color: $danger;
  }
}
.custom-btn {
  background-color: $danger;
  color: #f1f2f3;
  text-decoration: none;
  &:hover {
    color: $danger;
    border: 1px solid $danger;
    background-color: #f1f2f3;
  }
}
.custom-item {
  width: 50%;
}
.custom-card {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border: none;
  margin: 0rem 1rem;
}
.custom-card:first-child {
  margin-top: 0px;
}
.custom-card:nth-child(2) {
  margin-top: 30px;
}
.custom-card:last-child {
  margin-top: 60px;
}
@media (max-width: 445px) {
  .custom-btn {
    background: none;
    border: none;
    color: #f1f2f3;
  }
  .custom-item {
    width: 100%;
  }
  .custom-card {
    position: static;
    margin: 1rem;
  }
}
// #app-wrapper
.custom-bg::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: -200px;
  width: 80%;
  height: 200px;
  border-radius: 150px 0px 0px 150px;
  background-color: $primary;
  z-index: -1;
}
@media (min-width: "445px") and (max-width: " 920px") {
  .custom-bg::before {
    content: "";
    position: absolute;
    bottom: 100px;
    right: -100px;
    width: 80%;
    height: 150px;
    border-radius: 150px 0px 0px 150px;
    background-color: $primary;
    z-index: -1;
  }
}
